#home{
    background-position:top ;
    background-color: black;
    height: 30vh;
}

.resource-writeups{
    position: absolute;
    top: 10%;

}



.print-display{
    min-height: 70vh;
    text-align: center;
    padding: 50px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.other-downloads P{
    color: black;
    font-size: 25PX;
    text-align: center;
    margin: 50px 25px;
}

.book-ad img{
    width: 450px;
}

.glossary{
 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 65px;
    
}

.ad-writeup{
    text-align: left;
    max-width: 1000px;
}

#writeup-width{
max-width: 1200px;
}


.ad-writeup h1{
    color: black;
    font-size: 4.5rem;
}



.other-downloads{
min-height: 60vh;
background-color: #f7f7f7;
padding: 25px;
}





.download-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.download-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ddd;
}
.download-btn {
    margin: 20px;
    padding: 10px 10px;
}




/* .download-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-top: 2px solid #ddd;
}

.download-btn:hover {
    background-color: #0056b3;
} */















@media screen and (max-width:1050px) {
    .book-ad img{
        width: 350px;
    }
}

@media screen and (max-width:950px) {
    #home{
        background-position:right ;
    }
    .book-ad img{
        width: 300px;
    }
    .glossary{
        flex-direction: column;
        gap: 25px;
    }
    .ad-writeup, #writeup-width{
        text-align: center;
        width: 100%;
    }

    .ad-writeup h1{
        font-size: 3rem;
    }

    .resource-writeups{
        position: absolute;
        top:25%;
        right: 10%;

    }
    .resource-writeups h1{
        font-size: 4rem;
      }

}

@media screen and (max-width:550px) {
    .ad-writeup h1{
        font-size: 2.5rem;
    }

    .resource-writeups{
        position: absolute;
        top: 25%;
        right: auto;
        /* transform: translateX(50%, -50%); */
}
.resource-writeups h1{
    font-size: 3.5rem;
  }

}